@import "./reset";
$color-primary-0: #2E4272;	// Main Primary color */
$color-primary-1: #858B9A;
$color-primary-2: #556386;
$color-primary-3: #11275E;
$color-primary-4: #04184A;

$white: #f8f8f8;
$black: #333;
$color-primary: rgb(61, 147, 233);
$color-danger: rgb(196, 4, 4);
$color-success: rgb(1, 182, 1);
$color-muted: rgb(185, 184, 184);
$color-faint: rgb(229, 233, 241);

$title-size: 3em;
$subtitle-size: 2em;


$color-primary: #00d1b2;
@mixin container() {
    margin: 0 auto;
    position: relative;
      
    @media screen and (min-width: 1088px) {
        max-width: 960px;
        width: 960px;
    }
      
    @media screen and (max-width: 1279px) {
        max-width: 1152px;
        width: auto;
    }
      
      
    @media screen and (min-width: 1280px) {
        max-width: 1152px;
        width: 1152px;
    }
      
    @media screen and (min-width: 1472px) {
        max-width: 1344px;
        width: 1344px;
    }
}
@mixin section() {
    padding: 3rem 1.5rem;
}

$default-theme: (
    backgroundColor: #edeff8,
    foregroundColor: #515664,
    borderColor: #cbcdd3,
    altBackgroundColor: #e1e1e3,
    altForegroundColor: #4f5a74,
    altBorderColor: #3d4a6b,
    disabledForegroundColor: #a6a3a3,
    disabledBackgroundColor: #dddddd,
    disabledBorderColor: #bfbfbf,
    borderRadius: 1em,
);
$pencil-theme: (
    backgroundColor: transparent,
    foregroundColor: #5c6172,
    borderColor: #6f7faa,
    altForegroundColor: $white,
    altBackgroundColor: #2c3244,
    altBorderColor: #3d4a6b,
);
$primary-theme: (
    backgroundColor: #00d1b2,
    foregroundColor: #ffffff,
    borderColor: #49c2a0,
    altBackgroundColor: #00b89c,
    altForegroundColor: #ffffff,
    altBorderColor: #47b797,
);
@mixin button($theme:()) {
    $settings: map-merge($default-theme, $theme);
    background-color: map-get($settings, backgroundColor);
    border: 1px solid map-get($settings, borderColor);
    border-radius: .3em;
    color: map-get($settings, foregroundColor );
    cursor: pointer;
    flex: 1;
    font-size: 1rem;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        background-color: map-get($settings, altBackgroundColor);
        border-color: map-get($settings, altBorderColor);
        color: map-get( $settings, altForegroundColor);
    }
    &.selected,
    &:active,
    &:focus {
        background-color: darken(map-get($settings, altBackgroundColor ), 5%);
        border-color: map-get($settings, altBorderColor );
        color: map-get($settings, altForegroundColor);
    }

    &[disabled] {
        color: map-get($settings, disabledForegroundColor);
        background-color: map-get($settings, disabledBackgroundColor);
        border-color: map-get($settings, disabledBorderColor);
        cursor: default;
    }
}
@mixin large-button($theme:()) {
    @include button($theme);
    border-radius: .2em;
    font-size: 1.5em;
    width: 100%;
}
@mixin medium-button($theme:()) {
    @include button($theme);
    font-size: 1em;
}
@mixin small-button($theme:()) {
    @include button($theme);
    font-size: .8em;
}
@mixin customize-button($theme:()) {
    content: inspect($theme);
    $theme: map-merge($default-theme, $theme);

    background-color: map-get($theme, backgroundColor);
    border-color: map-get($theme, borderColor);
    color: map-get($theme, foregroundColor);

    &:hover {
        background-color: map-get($theme, altBackgroundColor);
        border-color: map-get($theme, altBorderColor);
        color: map-get( $theme, altForegroundColor);
    }
    &:active,
    &:focus {
        background-color: darken(map-get($theme, altBackgroundColor ), 5%);
        border-color: map-get($theme, altBorderColor );
        color: map-get($theme, altForegroundColor);
    }

    &[disabled] {
        color: map-get($theme, disabledForegroundColor);
        background-color: map-get($theme, disabledBackgroundColor);
        border-color: map-get($theme, disabledBorderColor);
        cursor: default;
    }

}
@mixin icon-button($theme:()) {
    $theme: map-merge($theme, $default-theme);
    @include button();

    background-color: map-get($theme, backgroundColor);
    border-radius: map-get($theme, borderRadius);
    border: 1px solid map-get($theme, borderColor);
    color: map-get($theme, foregroundColor);
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 1.5em;
}
@mixin text-button() {
    @include button();
    background-color: transparent;
    border-color: transparent;
    user-select: none;
    &:hover, &:active, &:focus  {
        border-color: transparent;
        background-color: transparent
    }
}

@mixin button-group() {
    margin-bottom: 1rem;
    display: flex;
	display: inline-flex;
	flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    vertical-align: baseline;
    font-weight: lighter;
    
    > * {
        @include button();

        display: flex;
        padding-bottom: calc(0.375em - 1px);
        padding-left: 0.75em;
        padding-right: 0.75em;
        padding-top: calc(0.375em - 1px);
        justify-content: center;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1.5em;
        border: 1px solid darken($white, 2.5%);
        background-color: darken($white, .5%);
        color: $black;
        border-radius: 0;

        &:first-child { border-radius: .25rem 0 0 .25rem; }
        &:last-child { border-radius: 0 .25rem .25rem 0; }
        &.selected {
            background-color: $color-primary;
            border-color: darken($color-primary, 2.5%);
            color: $white;
        }
    }
}


@mixin heading() {
    text-align: center;
    font-weight: lighter;
    color: $black;
	font-weight: lighter;
	line-height: 1.125;

}
@mixin h1() {
    @include heading();
    margin-bottom: 1.5rem;
    font-size: 3rem;
}
@mixin h2() {
    @include heading();
    margin-bottom: 1.25rem;
    font-size: 1.6rem;
}
@mixin flex-row($height: 0) {
    flex: 1 1;
    @if $height == 0 {
        flex-basis: $height;
    }
}
@mixin flex-column() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin full-height() {
    height: 100%;
}
@mixin full-width() {
    width: 100%;
}
@mixin is-narrow() {
    white-space: nowrap;
	width: 1%;
}
@mixin contents-centered() {
    text-align: center !important;
}
@mixin resize-text($amount: 100%) {
    font-size: $amount;
}
@mixin table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: $white;
    color: $black;
    margin: 4em 0;
    
    thead th {
        border-bottom: 1px solid $color-muted;
        padding: 0.5em 0;
    }
    tbody td {
        line-height: 2em;
        vertical-align: middle;
        border: 1px solid $color-muted;
        border-width: 0 0 1px;
        padding: 0.5em 0;
        text-align: left;
    }
}


@mixin highlight-column($column) {
    .sample > :nth-child( #{$column} ) {
        border-color: $color-muted;
        background-color: $color-faint;
        border-style: solid;
        border-width: 0 1px 0 1px;
    }
    .sample:first-child > :nth-child( #{$column} ) {
        border-radius: .4em .4em 0 0;
        border-top-width: 1px;
    }
    .sample:last-child > :nth-child( #{$column} ) {
        border-radius: 0 0 .4em .4em;
        border-bottom-width: 1px;
    }
}

@mixin columns() {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;

    :last-child {
        margin-bottom: -0.75rem;
    }
    :not(:last-child) {
         margin-bottom: calc(1.5rem - 0.75rem);
    }
      
    .is-centered {
        justify-content: center;
    }

    > * {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.75rem;
    }
}
@mixin column($width: 1, $offset: 0) {
    flex: none;
    width: 100% * $width / 12;
    margin-left: 100% * $offset / 12;
}

@mixin tab-header() {
    ol {
        display: flex;
        justify-content: center; 
        margin-top: 3em;
        border-bottom: 1px solid $color-faint;

        li {
            transition: all 300ms;
            padding: 0 1em .5em;
            border: 0px solid transparent;
            border-bottom-width: 1px;
            margin-bottom: -1px;
            color: $color-muted;
            cursor: pointer;
            &:hover { 
                border-bottom-color: $color-primary-2;
                color: $color-primary-2;
            }
        }

        .selected {
            border-bottom-color: $black;
            color: $black;
            cursor: default;
        }
    }
}