@import './constants';

button.back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    span {
        margin-left: -.5em;
        padding-right: .5em;
    }
}
button {
    @include button();
}
h1, h2, h3 {
    text-align: center;
    font-weight: lighter;
    
}
h1 {
    @include h1();
}
h2 {
    @include h2();
}
p {
    margin-bottom: 1em;
}
aside {
    color: $color-muted; 
    text-align: center;
}