@import "./reset";
@import './constants';

button {
    @include button();
}
h1, h2, h3 {
    text-align: center;
    font-weight: lighter;
    
}
h1 {
    @include h1();
}
h2 {
    @include h2();
}
p {
    margin-bottom: 1em;
}
aside {
    color: $color-muted; 
    text-align: center;
}
.breadcrumbs {
    position: absolute;
    padding: .5em;
    z-index: 1;
    li { display: inline-block; }

    a {
        display: inline-block;
        padding-right: .5em;
        text-decoration: none;
        color: $color-primary-2;

        &:hover { color: $color-primary-1; }
    }
}
.tc_low { color: rgb(3, 13, 153); }
.tc_mid { color: rgb(165, 148, 0); }
.tc_high { color: rgb(173, 0, 0); }
.tc_none { color: rgb(37, 37, 37); }
