@import './constants';

.consonant-classes {
    @include container();
    @include section();

    .review {
        > section {
            display: flex;
            margin: 1em;
            border: 1px solid $color-faint;
            border-radius: .4em;
            background-color: $color-faint;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            h2 {
                flex: .1;
                height: 100%;
                padding: 0 1em;
                margin: 0;
                align-self: center;
            }
            > div {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                padding: 1em;
                background-color: white;

                div {
                    transition: color 300ms;
                    font-size: 2em;
                    padding: .25em .5em;
                    color: $color-faint;
                }
            }
        }
        .highlighted {
            color: inherit;
        }
        .high {
            color: $tc_high;
        }
        .mid {
            color: $tc_mid;
        }
        .low {
            color: $tc_low;
        }
    }

    .button {
        @include large-button($primary-theme);
        width: 60%;
        margin-top: 1em;
        margin-left: 20%;
    }

    .drill {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        h3 {
            line-height: 1.2em;
        }
    }
    .progress-bar {
        @include progress-bar;
    }
}