@import './constants';

.consonants {
    @include container();
    @include section();

    .list div {
        @include columns(true);
        display: flex;
        font-size: 2em;

        span:nth-child(1) {
            @include column(1, 2);
        }
        span:nth-child(2) {
            @include column(2);
        }
        span:nth-child(3) {
            @include column(3);
        }
        span:nth-child(4) {
            @include column(1);
        }
        button {
            // position: absolute;
            margin: 0;
        }
    }

    nav {
        @include tab-header();
    }

    .list div span:last-child {
        text-align: right;
    }
}