@import './constants';

.drill {
    .container > div {
        opacity: 1;
        transition: opacity .3s;

        &.card-exit { opacity: 0; }
    }

    h1, h3 {
        border: .2em solid white;
        border-radius: 1em;
        height: 1em;
        left: 50%;
        margin-left: -.75em;
        margin-top: -.75em;
        padding: .1em;
        position: absolute;
        text-align: center;
        top: 40%;
        width: 1em;
    }
    h1 {
        font-size: 20vh;
    }
    h3 {
        background-color: $color-faint;
        border-color: white;
        border-radius: 1.5em;
        font-size: 12vh;
        line-height: 1.2em;
        text-align: center;
        transition: all 500ms;
        vertical-align: bottom;

        &.incorrect {
            color: white;
            background-color: white;
            cursor: default;
        }
        &.correct {
            background-color: white;
            border-color: $color-success;
            cursor: default;
        }
    }
    .answer-0 { margin-left:-2.75em; }
    .answer-1 { margin-left:1.35em; }
    .answer-2 { margin-top:-2.8em; }
    .answer-3 { margin-top:1.35em; }
    .answer-4 {
        margin-left: -2.75em;
        margin-top: -1.4em;
        top: 96%;
        width: 5em;
    }

    @media(max-width:768px) {
        h1 { font-size: 10vh; }
        h3 { font-size: 6vh; }
    }

}
