@import './constants';
.practice {
    @include section();

    .test-button {
        @include button();

        position: absolute;
        right: 1em;
        top: 1em;

        .icon {
            display: inline-block;
            padding: 0 1em;
        }
    }
    .preview {
        @include contents-centered();

        section {
            @include section();
        }

        .start-button {
            @include large-button($primary-theme);
            width: 50%;
        }
    }
    .cards {
        @include columns();
        .card {
            @include column(8, 2);
        }
    }
    .card {
        background-color: white;
        border-radius: .25em;
        cursor: pointer;
        font-size: 4em;
        position: absolute;
        text-align: center;
        transition: opacity .3s;

        > div {
            transition: opacity .3s;
            opacity: 0;

            &.visible {
                opacity: 1
            }
        }
    }
    .card-exit {
        opacity: 0;
    }
    .help-button {
        @include icon-button();
        z-index: 1;
    }
    table button {
        margin-right: 1em;
    }
}