@import './constants';
.practice {
    @include container();
    @include section();

    .test-button {
        @include button();

        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 1;

        .icon {
            display: inline-block;
            padding-left: .5em;
            margin-right: -.5em;
        }
    }
    .preview {
        @include contents-centered();

        section {
            @include section();
        }

        .start-button {
            @include large-button($primary-theme);
            width: 50%;
            margin: 0 1em 1em 1em;
        }
    }
    .cards {
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;

        .card {
            width: 50%;
            margin-left: 25%;
            margin-top: 15%;
        }
    }
    .card {
        background-color: white;
        border-radius: .25em;
        cursor: pointer;
        font-size: 4em;
        position: absolute;
        text-align: center;
        transition: opacity .3s;

        > div {
            transition: opacity .3s;
            opacity: 0;
            padding-bottom: .5em;

            &.visible {
                opacity: 1
            }
        }
        button {
            font-size: .4em;
            vertical-align: top;
            margin-top: .4em;
        }
    }
    .card-exit {
        opacity: 0;
    }
    .help-button {
        @include icon-button();
        z-index: 1;
    }
    table button {
        margin-right: 1em;
    }
}