@import './constants';

.test {
    /* TRANSITIONS */
    .challenge {
        transition: all 300ms;

        &.challenge-container-enter {
            opacity: 0.01;
        }
        &.challenge-container-enter-active {
            opacity: 1;
        }
        &.challenge-container-exit {
            opacity: 1;
        }
        &.challenge-container-exit-active {
            opacity: 0.01;
        }
    }

    /* GRIDS */
    .challenge {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .question {
            flex: none;
            padding: .5em;
            height: 1em;

        }
        .answers {
            flex: 1;
            display: flex;
            flex-flow: wrap;
            flex-direction: row;
        }
        .answer {
            flex: 1;
            flex-basis: 30%;
            border: 1px solid $color-faint;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: .5rem;

            span { padding: 5% 0; }

            &:hover {
                border-color: $color-muted;
                background-color: lighten($color-muted, 20%);
            }
        }
        .advancement {
            flex: none;
            height: 2em;
        }
    }


    .challenge {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .answer {
        border-radius: .25em;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 2em;
        transition: all 500ms 200ms;

        > span {
            transition: all 300ms;
            font-size: 1em;
            line-height: 1.4rem;

            &.thai { font-size: 1.1em; }
        }
        > button {
            @include button($default-theme);
            margin: 0 1em;
        }

        &.selected {
            border-color: rgb(41, 39, 39);
            color: rgb(0, 0, 0);
        }
        &.rejected span {
            color: $color-muted;
        }

        &.correct,
        &.incorrect,
        &.hidden { cursor: default; }
    
        &.correct span {
            color: $color-success;
            font-size: 1.2em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
        &.incorrect span {
            color: $color-danger;
            font-size: .7em;
            text-decoration: line-through;
        }
        &.hidden {
            opacity: 0.10;
        }
    }
    .question {
        color: $color-primary-0;
        font-size: 3.5rem;
        font-weight: lighter;
        text-align: center;
    }
    .advancement {
        font-size: 2em;
        text-align: center;
        margin-bottom: .5em;
        button {
            @include small-button();
        }
    }
    .progress {
        @include progress-bar;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 100%;
        }
        &::after {
            left: 50%;
            background-color: #c3c1f9;
        }
    }
}