@import './constants';

.settings {
    @include container();
    @include section();

    > section {
        border: 1px solid $color-faint;
    }
    section {
        @include section();
        background-color: #fff;
        border-radius: 1em;
        margin-bottom: 1em;
    }

    .voice-selector button {
        @include button();
        border-radius: .2em;
        margin: .2em;

        &.selected {
            @include customize-button($primary-theme);
            cursor: default;
        }
    }
    .voices {
        @include contents-centered();
    }

    .practice-order {
        text-align: center;

        .all-at-once {
            margin: 1em 0;
        }
        .practice-order-selector {
            text-align: center;

            > div {
                display: inline-block;
            }
        }
    }

    .samples {
       @include container();

        .sample {
            display: flex;

            > div {
                flex: none;
                text-align: center;
                width: 25%;
            }
            .disabled-button {
                @include text-button();
                background-color: transparent;
                cursor: default;
                font-weight: bold;
            }
            > :first-child {
                margin-left: 1.5 * 12.5%
            }
            > :nth-child(2) {
                width: 12.5%;
            }
        }


        &.ipa { @include highlight-column(1); }
        &.paiboon { @include highlight-column(3); }
    }
}