@import './constants';

.test-results {
    .result {
        display: flex;
        flex-direction: row;
        padding: .5em 0;
        border-top: 1px solid $color-faint;
        line-height: 2em;
        text-align: left;

        > * {
            flex: 1;
        }

        &:last-child {
            border-bottom: 1px solid $color-faint;
        }

    }
    section {
        @include section();
        @include contents-centered();
    }
    .save-button {
        @include large-button($primary-theme);
        width: 50%;
    }
    .incorrect {
        background-color: #f44040;
        border-color: darken(#f44040, 10%);
    }
    .correct {
        background-color: #12ac12;
        border-color: darken(#12ac12, 10%);
    }
    span {
        @include icon-button();
        margin-right: 1em;
        border-radius: .2em;
        color: $white;
        height: 1.5em;
        width: 1.5em;
    }
}