@import './constants';

.vowels {
    @include full-height();

    display: flex;
    flex-direction: column;

    > * {
        @include section();
        flex: 1 1;
    }

    .visible-vowel {
        display: flex;
        flex-direction: row;
        align-items: center;

        > * {
            flex: 0;
        }
        .main-content {
            flex: 1;
            display: flex;
            flex-direction: column;

            h1 { flex: 3; }
            h2 { flex: 2; }
            div {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }

    h1 { font-size: 8rem; }
    h2 { font-size: 5rem; }
    span { font-size: 3rem; }

    
    h2 button,
    span button {
        vertical-align: middle;
    }

    .navigation-button {
        font-size: 4em;
        line-height: 4em;
        color: $black;
        transition: opacity 300ms;
        opacity: .3;
        cursor: pointer;
        &:hover {
            opacity: .8;
        }
    }

    .buttons {
        @include section();
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        button {
            @include medium-button($pencil-theme);
            flex: none;
            font-size: 2rem;
            line-height: 2rem;
            margin: .2rem;

            
        }

    }
}