@import './constants';


.words-table {
    table {
        @include table();
        @include full-width();

        td:nth-child(2) {
            @include resize-text(180%)
        }
        th:nth-child(4), td:nth-child(4) {
            @include is-narrow;
            @include contents-centered();
        }
    }

    .progress-meter {
        display: inline-block;
        margin: .25em;
        width: 1.5em;
        height: 1.5em;
    }    
}