.practice {
    @extend .container;
    @extend .section;
    @extend .is-fullheight;


    .test-button {
        @extend .button;
        @extend .is-light;

        position: absolute;
        right: 1em;
        top: 1em;

        .icon {
            display: inline-block;
            padding: 0 1em;
        }
    }
    .preview {
        @extend .container;
        text-align: center;

        section {
            @extend .section;
        }

        .start-button {
            @extend .button;
            @extend .is-large;
            @extend .is-primary;
            width: 50%;
        }
    }
    .cards {
        @extend .section;
        @extend .is-fullwidth;
        @extend .hero;
    }
    .card {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 4em;
        background-color: white;
        transition: opacity .3s;
        border-radius: .25em;
        cursor: pointer;

        > div {
            transition: opacity .3s;
            opacity: 0;

            &.visible {
                opacity: 1
            }
        }
    }
    .card-exit {
        opacity: 0;
    }
    .help-button {
        @extend .button;
        @extend .is-outlined;
        @extend .is-rounded;
        @extend .is-large;
        @extend .is-pulled-right;
        position: absolute;
        // right: .5em;
        // margin-top: .5em;
        width: 1.5em;
        height: 1.5em;
        padding: 0;
        font-weight: bold;
        color: $color-faint;
        border-color: $color-faint;
        background-color: transparent;
        z-index: 1;
    }
}