// @import '../common/constants';

.test-results {

    .result {
        display: flex;
        padding: .5em 0;
        border-top: 1px solid $color-faint;
        &:last-child {
            border-bottom: 1px solid $color-faint;
        }

        > * {
            flex: 1;
        }

    }
    .scores {
        display: flex;
        flex: 0;
        > * {
            width: 1em;
            text-align: center;
            height: 1.5em;
            width: 1.5em;
            color: white;
            background-color: green;
            margin: 0 .2em;
            border-radius: 0.2em;
            &.wrong {
                background-color: red;
            }
        }
    }
}