@import '../common/constants';
@import "../../../node_modules/bulma/bulma";

.progress-page {
    @extend .container;
    @extend .section;


    .filter {
        @extend .buttons;
        @extend .has-addons;
        @extend .is-fullwidth;

        .toggle-header {
            @extend .button;
        }
        .selected {
            @extend .is-selected;
            @extend .is-primary;
        }
    }

    table {
        @extend .table;
        @extend .is-fullwidth;
    }
    td {
        line-height: 2em;
    }
    th:nth-child(4), td:nth-child(4) {
        @extend .is-narrow;
        @extend .has-text-centered;
    }

    .progress-meter {
        display: inline-block;
        margin: .25em;
        width: 1.5em;
        height: 1.5em;
    }
}