$color-primary-0: #2E4272;	// Main Primary color */
$color-primary-1: #858B9A;
$color-primary-2: #556386;
$color-primary-3: #11275E;
$color-primary-4: #04184A;

$white: #f8f8f8;
$black: #333;
$color-primary: rgb(61, 147, 233);
$color-danger: rgb(196, 4, 4);
$color-success: rgb(1, 182, 1);
$color-muted: rgb(185, 184, 184);
$color-faint: rgb(229, 233, 241);