.test-results .result {
  display: flex;
  padding: .5em 0;
  border-top: 1px solid #e5e9f1; }

.test-results .result:last-child {
  border-bottom: 1px solid #e5e9f1; }

.test-results .result > * {
  flex: 1; }

.test-results .scores {
  display: flex;
  flex: 0; }

.test-results .scores > * {
  width: 1em;
  text-align: center;
  height: 1.5em;
  width: 1.5em;
  color: white;
  background-color: green;
  margin: 0 .2em;
  border-radius: 0.2em; }

.test-results .scores > *.wrong {
  background-color: red; }
