@import '../common/constants';
@import "../../../node_modules/bulma/bulma";

.practice {
    .preview {
        @extend .container;
        text-align: center;

        section {
            @extend .section;
        }

        .start-button {
            @extend .button;
            @extend .is-large;
            @extend .is-primary;
            width: 50%;
        }
    }
    .card {
        width: 100%;
        position: absolute;
        text-align: center;
        font-size: 4em;
        background-color: white;
        transition: opacity .3s;
        > div {
            transition: opacity .3s;
            opacity: 0;

            &.visible {
                opacity: 1
            }
        }
    }
    .card-exit {
        opacity: 0;
    }
}