html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
#root {
  height: 100%; }

.consonants {
  margin: 0 auto;
  position: relative;
  padding: 3rem 1.5rem; }
  @media screen and (min-width: 1088px) {
    .consonants {
      max-width: 960px;
      width: 960px; } }
  @media screen and (max-width: 1279px) {
    .consonants {
      max-width: 1152px;
      width: auto; } }
  @media screen and (min-width: 1280px) {
    .consonants {
      max-width: 1152px;
      width: auto; } }
  @media screen and (min-width: 1472px) {
    .consonants {
      max-width: 1344px;
      width: 1344px; } }
  .consonants .list div {
    border-bottom: 1px solid #e5e9f1;
    display: flex;
    font-size: 2em; }
    .consonants .list div .is-centered {
      justify-content: center; }
    .consonants .list div > * {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0.75rem; }
    .consonants .list div span:nth-child(1) {
      flex: none;
      width: 8.33333%;
      margin-left: 16.66667%; }
    .consonants .list div span:nth-child(2) {
      flex: none;
      width: 16.66667%;
      margin-left: 0%; }
    .consonants .list div span:nth-child(3) {
      flex: none;
      width: 25%;
      margin-left: 0%; }
    .consonants .list div span:nth-child(4) {
      flex: none;
      width: 8.33333%;
      margin-left: 0%; }
    .consonants .list div button {
      margin: 0; }
  .consonants nav ol {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    border-bottom: 1px solid #e5e9f1; }
    .consonants nav ol li {
      transition: all 300ms;
      padding: 0 1em .5em;
      border: 0px solid transparent;
      border-bottom-width: 1px;
      margin-bottom: -1px;
      color: #b9b8b8;
      cursor: pointer; }
      .consonants nav ol li:hover {
        border-bottom-color: #556386;
        color: #556386; }
    .consonants nav ol .selected {
      border-bottom-color: #333;
      color: #333;
      cursor: default; }
  .consonants .list div span:last-child {
    text-align: right; }
