html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
#root {
  height: 100%; }

.test {
  /* TRANSITIONS */
  /* GRIDS */ }
  .test .challenge {
    transition: all 300ms; }
    .test .challenge.challenge-container-enter {
      opacity: 0.01; }
    .test .challenge.challenge-container-enter-active {
      opacity: 1; }
    .test .challenge.challenge-container-exit {
      opacity: 1; }
    .test .challenge.challenge-container-exit-active {
      opacity: 0.01; }
  .test .challenge {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .test .challenge .question {
      flex: none;
      padding: .5em;
      height: 1em; }
    .test .challenge .answers {
      flex: 1;
      display: flex;
      flex-direction: row; }
    .test .challenge .left, .test .challenge .right {
      flex: 1;
      display: flex;
      flex-direction: column; }
    .test .challenge .answer {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 .5em; }
      .test .challenge .answer > * {
        flex: none; }
    .test .challenge .advancement {
      flex: none;
      height: 2em; }
  .test .challenge {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .test .answer {
    border-radius: .25em;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 500ms 200ms; }
    .test .answer > span {
      transition: all 300ms;
      font-size: 1em; }
    .test .answer > button {
      background-color: #edeff8;
      border: 1px solid #cbcdd3;
      border-radius: .3em;
      color: #515664;
      cursor: pointer;
      display: inline-block;
      flex: 1;
      font-size: 1rem;
      justify-content: center;
      padding-bottom: calc(0.375em - 1px);
      padding-left: 0.75em;
      padding-right: 0.75em;
      padding-top: calc(0.375em - 1px);
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
      margin: 0 1em; }
      .test .answer > button:hover {
        background-color: #e1e1e3;
        border-color: #3d4a6b;
        color: #4f5a74; }
      .test .answer > button.selected, .test .answer > button:active, .test .answer > button:focus {
        background-color: #d4d4d7;
        border-color: #3d4a6b;
        color: #4f5a74; }
      .test .answer > button[disabled] {
        color: #a6a3a3;
        background-color: #dddddd;
        border-color: #bfbfbf;
        cursor: default; }
    .test .answer.selected {
      border-color: #292727;
      color: black; }
    .test .answer.rejected span {
      color: #b9b8b8; }
    .test .answer.correct, .test .answer.incorrect, .test .answer.hidden {
      cursor: default; }
    .test .answer.correct span {
      color: #01b601;
      font-size: 2rem;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
    .test .answer.incorrect span {
      color: #c40404;
      font-size: 0.7em;
      text-decoration: line-through; }
    .test .answer.hidden {
      opacity: 0.25; }
  .test .question {
    color: #2E4272;
    font-size: 3.5rem;
    font-weight: lighter;
    text-align: center; }
  .test .advancement {
    font-size: 2em;
    text-align: center;
    margin-bottom: .5em; }
    .test .advancement button {
      background-color: #edeff8;
      border: 1px solid #cbcdd3;
      border-radius: .3em;
      color: #515664;
      cursor: pointer;
      display: inline-block;
      flex: 1;
      font-size: 1rem;
      justify-content: center;
      padding-bottom: calc(0.375em - 1px);
      padding-left: 0.75em;
      padding-right: 0.75em;
      padding-top: calc(0.375em - 1px);
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
      font-size: .8em; }
      .test .advancement button:hover {
        background-color: #e1e1e3;
        border-color: #3d4a6b;
        color: #4f5a74; }
      .test .advancement button.selected, .test .advancement button:active, .test .advancement button:focus {
        background-color: #d4d4d7;
        border-color: #3d4a6b;
        color: #4f5a74; }
      .test .advancement button[disabled] {
        color: #a6a3a3;
        background-color: #dddddd;
        border-color: #bfbfbf;
        cursor: default; }
  .test .progress {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1em;
    width: 100%;
    background-color: #d7d5f6; }
    .test .progress::before, .test .progress::after {
      content: '';
      position: absolute;
      width: 33.333%;
      height: 100%; }
    .test .progress::after {
      left: 33.333%;
      background-color: #c3c1f9; }
    .test .progress::before {
      left: 66.666%;
      background-color: #b0adff; }
    .test .progress .bar {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: #01b601;
      transition: width 300ms; }
