html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
#root {
  height: 100%; }

.settings {
  margin: 0 auto;
  position: relative;
  padding: 3rem 1.5rem; }
  @media screen and (min-width: 1088px) {
    .settings {
      max-width: 960px;
      width: 960px; } }
  @media screen and (max-width: 1279px) {
    .settings {
      max-width: 1152px;
      width: auto; } }
  @media screen and (min-width: 1280px) {
    .settings {
      max-width: 1152px;
      width: 1152px; } }
  @media screen and (min-width: 1472px) {
    .settings {
      max-width: 1344px;
      width: 1344px; } }
  .settings > section {
    border: 1px solid #e5e9f1; }
  .settings section {
    padding: 3rem 1.5rem;
    background-color: #fff;
    border-radius: 1em;
    margin-bottom: 1em; }
  .settings .voice-selector button {
    background-color: #edeff8;
    border: 1px solid #cbcdd3;
    border-radius: .3em;
    color: #515664;
    cursor: pointer;
    flex: 1;
    font-size: 1rem;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: .2em;
    margin: .2em; }
    .settings .voice-selector button:hover {
      background-color: #e1e1e3;
      border-color: #3d4a6b;
      color: #4f5a74; }
    .settings .voice-selector button.selected, .settings .voice-selector button:active, .settings .voice-selector button:focus {
      background-color: #d4d4d7;
      border-color: #3d4a6b;
      color: #4f5a74; }
    .settings .voice-selector button[disabled] {
      color: #a6a3a3;
      background-color: #dddddd;
      border-color: #bfbfbf;
      cursor: default; }
    .settings .voice-selector button.selected {
      content: (backgroundColor: #00d1b2, foregroundColor: #ffffff, borderColor: #49c2a0, altBackgroundColor: #00b89c, altForegroundColor: #ffffff, altBorderColor: #47b797);
      background-color: #00d1b2;
      border-color: #49c2a0;
      color: #ffffff;
      cursor: default; }
      .settings .voice-selector button.selected:hover {
        background-color: #00b89c;
        border-color: #47b797;
        color: #ffffff; }
      .settings .voice-selector button.selected:active, .settings .voice-selector button.selected:focus {
        background-color: #009f86;
        border-color: #47b797;
        color: #ffffff; }
      .settings .voice-selector button.selected[disabled] {
        color: #a6a3a3;
        background-color: #dddddd;
        border-color: #bfbfbf;
        cursor: default; }
  .settings .voices {
    text-align: center !important; }
  .settings .practice-order {
    text-align: center; }
    .settings .practice-order .all-at-once {
      margin: 1em 0; }
    .settings .practice-order .practice-order-selector {
      text-align: center; }
      .settings .practice-order .practice-order-selector > div {
        display: inline-block; }
  .settings .samples {
    margin: 0 auto;
    position: relative; }
    @media screen and (min-width: 1088px) {
      .settings .samples {
        max-width: 960px;
        width: 960px; } }
    @media screen and (max-width: 1279px) {
      .settings .samples {
        max-width: 1152px;
        width: auto; } }
    @media screen and (min-width: 1280px) {
      .settings .samples {
        max-width: 1152px;
        width: 1152px; } }
    @media screen and (min-width: 1472px) {
      .settings .samples {
        max-width: 1344px;
        width: 1344px; } }
    .settings .samples .sample {
      display: flex; }
      .settings .samples .sample > div {
        flex: none;
        text-align: center;
        width: 25%; }
      .settings .samples .sample .disabled-button {
        background-color: #edeff8;
        border: 1px solid #cbcdd3;
        border-radius: .3em;
        color: #515664;
        cursor: pointer;
        flex: 1;
        font-size: 1rem;
        justify-content: center;
        padding-bottom: calc(0.375em - 1px);
        padding-left: 0.75em;
        padding-right: 0.75em;
        padding-top: calc(0.375em - 1px);
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        background-color: transparent;
        border-color: transparent;
        user-select: none;
        background-color: transparent;
        cursor: default;
        font-weight: bold; }
        .settings .samples .sample .disabled-button:hover {
          background-color: #e1e1e3;
          border-color: #3d4a6b;
          color: #4f5a74; }
        .settings .samples .sample .disabled-button.selected, .settings .samples .sample .disabled-button:active, .settings .samples .sample .disabled-button:focus {
          background-color: #d4d4d7;
          border-color: #3d4a6b;
          color: #4f5a74; }
        .settings .samples .sample .disabled-button[disabled] {
          color: #a6a3a3;
          background-color: #dddddd;
          border-color: #bfbfbf;
          cursor: default; }
        .settings .samples .sample .disabled-button:hover, .settings .samples .sample .disabled-button:active, .settings .samples .sample .disabled-button:focus {
          border-color: transparent;
          background-color: transparent; }
      .settings .samples .sample > :first-child {
        margin-left: 18.75%; }
      .settings .samples .sample > :nth-child(2) {
        width: 12.5%; }
    .settings .samples.ipa .sample > :nth-child(1) {
      border-color: #b9b8b8;
      background-color: #e5e9f1;
      border-style: solid;
      border-width: 0 1px 0 1px; }
    .settings .samples.ipa .sample:first-child > :nth-child(1) {
      border-radius: .4em .4em 0 0;
      border-top-width: 1px; }
    .settings .samples.ipa .sample:last-child > :nth-child(1) {
      border-radius: 0 0 .4em .4em;
      border-bottom-width: 1px; }
    .settings .samples.paiboon .sample > :nth-child(3) {
      border-color: #b9b8b8;
      background-color: #e5e9f1;
      border-style: solid;
      border-width: 0 1px 0 1px; }
    .settings .samples.paiboon .sample:first-child > :nth-child(3) {
      border-radius: .4em .4em 0 0;
      border-top-width: 1px; }
    .settings .samples.paiboon .sample:last-child > :nth-child(3) {
      border-radius: 0 0 .4em .4em;
      border-bottom-width: 1px; }
