html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
#root {
  height: 100%; }

.test-results {
  padding: 3rem 1.5rem; }
  .test-results .result {
    display: flex;
    flex-direction: row;
    padding: .5em 0;
    border-top: 1px solid #e5e9f1;
    line-height: 2em;
    text-align: left; }
    .test-results .result > * {
      flex: 1; }
    .test-results .result:last-child {
      border-bottom: 1px solid #e5e9f1; }
  .test-results section {
    padding: 3rem 1.5rem;
    text-align: center !important; }
  .test-results .save-button {
    background-color: #00d1b2;
    border: 1px solid #49c2a0;
    border-radius: .3em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    font-size: 1rem;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: .2em;
    font-size: 1.5em;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 50%; }
    .test-results .save-button:hover {
      background-color: #00b89c;
      border-color: #47b797;
      color: #ffffff; }
    .test-results .save-button.selected, .test-results .save-button:active, .test-results .save-button:focus {
      background-color: #009f86;
      border-color: #47b797;
      color: #ffffff; }
    .test-results .save-button[disabled] {
      color: #a6a3a3;
      background-color: #dddddd;
      border-color: #bfbfbf;
      cursor: default; }
  .test-results .incorrect {
    background-color: #f44040;
    border-color: #f11010; }
  .test-results .correct {
    background-color: #12ac12;
    border-color: #0d7e0d; }
  .test-results span {
    background-color: #edeff8;
    border: 1px solid #cbcdd3;
    border-radius: .3em;
    color: #515664;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    font-size: 1rem;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #edeff8;
    border-radius: 1em;
    border: 1px solid #cbcdd3;
    color: #515664;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 1.5em;
    margin-right: 1em;
    border-radius: .2em;
    color: #f8f8f8;
    height: 1.5em;
    width: 1.5em; }
    .test-results span:hover {
      background-color: #e1e1e3;
      border-color: #3d4a6b;
      color: #4f5a74; }
    .test-results span.selected, .test-results span:active, .test-results span:focus {
      background-color: #d4d4d7;
      border-color: #3d4a6b;
      color: #4f5a74; }
    .test-results span[disabled] {
      color: #a6a3a3;
      background-color: #dddddd;
      border-color: #bfbfbf;
      cursor: default; }
