html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
#root {
  height: 100%; }

.vowels {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .vowels > * {
    padding: 3rem 1.5rem;
    flex: 1 1; }
  .vowels .visible-vowel {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .vowels .visible-vowel > * {
      flex: 0; }
    .vowels .visible-vowel .main-content {
      flex: 1;
      display: flex;
      flex-direction: column; }
      .vowels .visible-vowel .main-content h1 {
        flex: 3; }
      .vowels .visible-vowel .main-content h2 {
        flex: 2; }
      .vowels .visible-vowel .main-content div {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
  .vowels h1 {
    font-size: 8rem; }
  .vowels h2 {
    font-size: 5rem; }
  .vowels span {
    font-size: 3rem; }
  .vowels h2 button,
  .vowels span button {
    vertical-align: middle; }
  .vowels .navigation-button {
    font-size: 4em;
    line-height: 4em;
    color: #333;
    transition: opacity 300ms;
    opacity: .3;
    cursor: pointer; }
    .vowels .navigation-button:hover {
      opacity: .8; }
  .vowels .buttons {
    padding: 3rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .vowels .buttons button {
      background-color: transparent;
      border: 1px solid #6f7faa;
      border-radius: .3em;
      color: #5c6172;
      cursor: pointer;
      flex: 1;
      font-size: 1rem;
      justify-content: center;
      padding-bottom: calc(0.375em - 1px);
      padding-left: 0.75em;
      padding-right: 0.75em;
      padding-top: calc(0.375em - 1px);
      text-align: center;
      white-space: nowrap;
      font-size: 1em;
      flex: none;
      font-size: 2rem;
      line-height: 2rem;
      margin: .2rem; }
      .vowels .buttons button:hover {
        background-color: #2c3244;
        border-color: #3d4a6b;
        color: #f8f8f8; }
      .vowels .buttons button.selected, .vowels .buttons button:active, .vowels .buttons button:focus {
        background-color: #222735;
        border-color: #3d4a6b;
        color: #f8f8f8; }
      .vowels .buttons button[disabled] {
        color: #a6a3a3;
        background-color: #dddddd;
        border-color: #bfbfbf;
        cursor: default; }
