html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
#root {
  height: 100%; }

.words-table {
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 1088px) {
    .words-table {
      max-width: 960px;
      width: 960px; } }
  @media screen and (max-width: 1279px) {
    .words-table {
      max-width: 1152px;
      width: auto; } }
  @media screen and (min-width: 1280px) {
    .words-table {
      max-width: 1152px;
      width: 1152px; } }
  @media screen and (min-width: 1472px) {
    .words-table {
      max-width: 1344px;
      width: 1344px; } }
  .words-table table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #f8f8f8;
    color: #333;
    margin: 4em 0;
    width: 100%;
    background-color: transparent; }
    .words-table table thead th {
      border-bottom: 1px solid #b9b8b8;
      padding: 0.5em 0; }
    .words-table table tbody td {
      line-height: 2em;
      vertical-align: middle;
      border: 1px solid #b9b8b8;
      border-width: 0 0 1px;
      padding: 0.5em 0;
      text-align: left; }
    .words-table table th,
    .words-table table td {
      width: 33%; }
    .words-table table.no-progress td:last-child, .words-table table.no-progress th:last-child {
      width: 1%; }
    .words-table table th {
      font-weight: lighter;
      font-size: 1.1em;
      text-align: left; }
    .words-table table td:nth-child(2) {
      font-size: 180%; }
    .words-table table th:nth-child(4), .words-table table td:nth-child(4) {
      white-space: nowrap;
      width: 1%; }
  .words-table .progress-meter {
    display: inline-block;
    margin: .25em;
    width: 1.5em;
    height: 1.5em; }
